.body {
	-fx-background-color: #e7e7e7;
	-fx-alignment: center;
	-fx-z-index: 1.0;
}

.body ScrollPane {
	-fx-box-border: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.body VBox {

}

.uploadFileTxtArea {
	-fx-border-width: 3.0px;
	-fx-border-color: gray;
	-fx-background-radius: 12.0px 12.0px 12.0px 12.0px;
	-fx-border-radius: 12.0px 12.0px 12.0px 12.0px;
	-fx-border-style: dashed;
}

.uploadFileTxtArea:hover {
	
}

.uploadFileTxtArea *.text {
    -fx-text-alignment: center;
}

.sideBar {
	 -fx-background-color: #393E46;
	 -fx-z-index: 2.0;
}

.sideBarButton {
	-fx-background-color: #393E46;
	-fx-font-size: 22.0px;
}

.clickedButton {
	-fx-background-color: #00ADB5;
}

.downloadFileButton {
	-fx-background-color: #7FCAE3;
	-fx-border-color: #13639C;
	-fx-text-fill: #13639C;
}

.button {
	-fx-width: 100.0%;
	-fx-height: 35.0px;
	-fx-color: white;
	-fx-border-radius: 4.0px;
}

.filterButton, .searchButton, .fileBtn {
	-fx-background-color: #fff0d9;
	-fx-border-color: #fec973;
	-fx-border-radius: 4.0px;
	-fx-text-fill: #fec973;
	-fx-fill: #fec973;
	-fx-font-weight: bold;
}

.filterButton, .searchButton, .fileBtn .glyph-icon {
	-fx-fill: #fec973;
}

.refreshBtn {
	 -fx-background-color: #393E46;
}

.refreshBtn:hover {
	-fx-background-color: #657699;
}

.refreshBtn .glyph-icon {
	-fx-fill: white;
}

.littleBackBtn {
	-fx-text-fill: #393E46;
}

.littleBackBtn:hover {
	-fx-text-fill: #393E46;
}


.deleteButton {
	-fx-background-color: #e84545;
}

.finishTestBtn {
	-fx-background-color: #E5F8ED;
	-fx-pref-width: 200.0;
	-fx-pref-width: 40.0;
	-fx-border-radius: 4.0px;
	-fx-border-color: #8CDFAF;
}

.signOut {
	-fx-background-color: #333333;
}

.paneBorder {
	-fx-background-color: white;
	-fx-background-radius: 9.0px;
	-fx-border-radius: 9.0px;
}

.paddingAnchor {

}

.scrolledPane > .viewport {
	-fx-background-color: #F4F4F4;
	-fx-background-radius: 10.0px 10.0px 10.0px 10.0px;
	-fx-border-radius: 10.0px 10.0px 10.0px 10.0px;
	-fx-background-insets: 3.0px;
}

.scrolledPane {
    -fx-background-color: white;
}

.grayPane{
	-fx-background-color: #f0f1f1;
	-fx-background-radius: 9.0px 9.0px 0.0 0.0;
	-fx-border-radius: 9.0px 9.0px 0.0 0.0;
    -fx-background-insets: 10.0px;
}

.insideGrayPane {
	-fx-background-color: white;
}

.fileGrayPane {
	-fx-background-color: #f0f1f1;
	-fx-background-radius: 9.0px 9.0px 9.0px 9.0px;
	-fx-border-radius: 9.0px 9.0px 9.0px 9.0px;
    -fx-background-insets: 10.0px 0 10.0px 0;	
}

.fileGrayPane Label {
	-fx-text-fill: #595869;
	-fx-font-weight: bold;
}

.fileGrayPane .glyph-icon, .fileGrayPane .glyph-icon:not(:hover) {
	-fx-fill: #595869;
}

.fileGrayPane .glyph-icon:hover {
	-fx-fill: white;
}

.fileCommentsTxtArea {
	-fx-background-color: white;
	-fx-background-radius: 9.0px 9.0px 9.0px 9.0px;
	-fx-border-radius: 9.0px 9.0px 9.0px 9.0px;
	-fx-border-width: 2px;
    -fx-background-insets: 10.0px;
    -fx-border-color: #595869;
    -fx-text-fill: gray;
}

.GradeLbl {
	-fx-width: 40.0px;
	-fx-height: 40.0px;
	-fx-min-width:60.0;
	-fx-min-height:60.0;
	-fx-background-radius: 12.0px;
	-fx-border-radius: 12.0px;
	-fx-font-color: #060824;
	-fx-font-size: 28.0px;
	-fx-font-weight: bold;
	-fx-text-aligment: center;
}

.aGradeLbl {
	-fx-background-color: #e5f8ed;
	-fx-border-color: #77d9a1;
}

.fGradeLbl {
	-fx-background-color: #ffe8e6;
	-fx-border-color: #f6827a;
}

.approve {
	-fx-min-width: 290.0;
	-fx-min-height: 20.0;
	-fx-background-radius: 0.0 0.0 12.0px 0.0;
	-fx-border-radius: 0.0 0.0 12.0px 0.0;
}

.disaprove {
	-fx-min-width: 290.0;
	-fx-min-height: 20.0;
	-fx-background-radius: 0.0 0.0 0.0 12.0px;
	-fx-border-radius: 0.0 0.0 0.0 12.0px;
}

.txtArea {
	-fx-background-color: #f0f1f1;
	-fx-border-color: #dce0e0;
	-fx-background-radius: 12.0px 12.0px 12.0px 12.0px;
	-fx-border-radius: 12.0px 12.0px 12.0px 12.0px;
}

.requestTxtArea {
	-fx-background-color: #f0f1f1;
	-fx-border-color: #dce0e0;
	-fx-background-radius: 12.0px 12.0px 0.0 0.0;
	-fx-border-radius: 12.0px 12.0px 0.0 0.0;
}

.questionTxtArea {
	-fx-background-color: #f0f1f1;
	-fx-border-color: #dce0e0;
	-fx-background-radius: 12.0px 12.0px 12.0px 12.0px;
	-fx-border-radius: 12.0px 12.0px 12.0px 12.0px;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header{     
    -fx-background-color: transparent;    /* made transparent */
    -fx-size: 45.0px;
    -fx-min-height: 45.0px;  
    -fx-cursor: hand;
}

.table-view .column-header-background, .table-view .column-drag-header {
	-fx-background-radius: 5.0 5.0 0.0 0.0;
	-fx-background-color: #DAD9DD;
}

.table-view .column-header .label {
    -fx-font-size: 1.083333em;
    -fx-font-weight: bold;  
    -fx-text-fill: #595869;
    -fx-alignment: center;
    /*-fx-padding: 10.0 0.0 10.0 5.0;*/
}

.table-row-cell {
    -fx-background-color: transparent; 
    -fx-border-width: 2 0 0 0;
    -fx-border-color: white;
    -fx-padding: 15.0 0.0 13.0 0.0;
    -fx-pref-height: 65.0px;
    -fx-text-fill: #595869;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-view TableColumn {
	-fx-alignment: center;
}

.table-row-cell:filled:even{
    -fx-background-color: #F0F0F1;
}
.table-row-cell:filled:odd{
    -fx-background-color: #F0F0F1;
}

.table-view:row-selection .table-row-cell:filled:hover, .table-row-cell:filled:focused {
    -fx-background-color: #E9E8EB;
}
.table-view:row-selection .table-row-cell:filled:hover .text, .table-row-cell:filled:focused .text, .table-view .table-cell{
    -fx-text-fill: #595869;     
}

.table-view .glyph-icon {
	-fx-font-family:"FontAwesome";
	-fx-font-size: 20px;
	-fx-text-fill: #595869;
	-fx-fill: #595869;
}

.table-view .glyph-icon:hover {
	-fx-fill: white;
}

.table-view .glyph-icon .glyphicon-trash {
	-fx-text-fill: red;
	-fx-fill: red;
}

.table-view JFXButton {
	-fx-background-color: white;
}

.table-view JFXButton:hover {
	-fx-background-color: #595869;
	-fx-text-fill: white;
	-fx-fill: white;
}

.table-view JFXButton:hover .glyph-icon {
	-fx-text-fill: white;
	-fx-fill: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color:derive(black,90.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color:derive(#4D4C4F,10.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color: #f0f1f1;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color:transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
  -fx-shape: " ";  
  -fx-padding: 0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
  -fx-shape: " ";  
  -fx-padding: 0.0 0.15em;
}